<table st-table="curvetrends" class="table table-striped curvetrends">
				<thead>
				
				<tr class="curvehead">
					<th class="header-content">3-Month </th>
					<th class="header-content">UST Curve</th>
					<th class="header-content"> Spread Trends</th>
				</tr>
				</thead>
				<tbody >
					<tr ng-repeat="curve in curvetrends">
						<td class="col-xs-4">{{curve.three_m}}</td>
						<td class="col-xs-4"><p><strong>Now {{curve.ust_curve_n}}</strong></p><p>Avg {{curve.ust_curve_avg}}</p></td>
						<td class="col-xs-4">
							<nvd3 options="curvetrendoptions" data="curve.exampleData"></nvd3>
					    </td>
					</tr>
				
				</tbody>
			</table>