
	<div class="row">
		<div class="col-sm-5">
			<ng-include src="'dashboard/templates/sovyields.tpl.html'"></ng-include>
		</div>
		<div class="col-sm-7 borderme ">
			<div class="col-xs-12 heading">Treasury Yield Curve</div>
			<div class="col-xs-7 nopad leftborder " >
				<ng-include src="'dashboard/templates/yieldcurve.tpl.html'"></ng-include>
			</div>
			<div class="col-xs-5 nopad rightborder ">
				<ng-include src="'dashboard/templates/curvespread.tpl.html'"></ng-include>
			</div>
			
		</div>
		
	</div>
