<table st-table="rowCollection" class="table table-striped">
				<thead>
				<tr>
					<th colspan="8" class="yield0">Sovereign Yields</th>
				</tr>
				<tr>
					<th colspan="5" class="yield1 text-right">10-Year Notes (%)</th>
					<th colspan="3" class="yield2 text-center">Annual Inflation Data (%)</th>
				</tr>
				<tr class="yield3">
					<th st-sort="zone" class="header-content">Zone</th>
					<th st-sort="country" class="header-content">Country</th>
					<th st-sort="ten_curr" class="header-content">Current</th>
					<th st-sort="ten_one" class="header-content">-1M</th>
					<th st-sort="ten_six" class="header-content">-6M</th>
					<th st-sort="inf_curr" class="header-content">Current</th>
					<th st-sort="inf_5y" class="header-content">5Y Avg</th>
					<th st-sort="as_of" class="header-content">As Of</th>
				</tr>
				</thead>
				<tbody >
					<tr ng-repeat="country in rowCollection">
						<td>{{country.zone}}</td>
						<td>{{country.country}}</td>
						<td>{{country.ten_curr}}</td>
						<td>{{country.ten_one}}</td>
						<td>{{country.ten_six}}</td>
						<td>{{country.inf_curr}}</td>
						<td>{{country.inf_5y}}</td>
						<td>{{country.as_of}}</td>
					</tr>
				</tbody>
			</table>