/** Custom App Styles go below this line **/

/** Import each of the application modules that have styling **/
@import "../app/dashboard/less/dashboard.less";

.credit {
    padding:15px 0 0 15px;
}
.navbar-brand{
	font-weight: 200;
}
.logo{
		max-height: 40px;
		padding-top: 5px;
		float: left;
}